<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
	<select id="selectAll" resultType="Board">
		select * from board order by board_idx desc
	</select>

	<select id="select" resultType="Board" parameterType="int">
		select * from board where board_idx=#{board_idx}
	</select>
	
	<insert id="insert" parameterType="Board">
		insert into board(title, writer, content) 
		values(#{title},#{writer},#{content})
	</insert>

	<update id="update" parameterType="Board">
		update board set title=#{title}, writer=#{writer}, content=#{content}
		where board_idx=#{board_idx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where board_idx=#{board_idx}
	</delete>
</mapper>