<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.edu.springmvc1.domain.Board" alias="Board"/>
		<typeAlias type="com.edu.springmvc1.domain.Dept" alias="Dept"/>
		<typeAlias type="com.edu.springmvc1.domain.Emp" alias="Emp"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/mysql"/>

      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/edu/springmvc1/mybatis/BoardMapper.xml"/>
    <mapper resource="com/edu/springmvc1/mybatis/EmpMapper.xml"/>
    <mapper resource="com/edu/springmvc1/mybatis/DeptMapper.xml"/>

  </mappers>
</configuration>