<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProfilePhoto">

<!--전체 가져오기 -->
	<select id="selectAll" resultType="ProfilePhoto">
		select * from profilePhoto
	</select>

	<!--한 멤버에 딸린 이미지 가져오기 : 멤버idx를 통해 -->	
	<select id="selectByMember" parameterType="int" resultType="ProfilePhoto">
		select * from profilePhoto where member_idx=#{member_idx}
	</select>
	
	<!--한 건 넣기-->
	<insert id="insert" parameterType="ProfilePhoto">
		insert into profilePhoto(profilePhoto_idx, member_idx, profile_photo) 
		values(seq_profilePhoto.nextval, #{member.member_idx},#{profile_photo})
	</insert>
	
	<!--한 건 수정하기 -->
	<update id="update" parameterType="ProfilePhoto">
		update profilePhoto set profile_photo=#{profile_photo}
		where profilePhoto_idx=#{profilePhoto_idx}
	</update>
	
	<!--한 건 삭제하기 -->
	<delete id="delete" parameterType="int">
		delete from profilePhoto where profilePhoto_idx=#{profilePhoto_idx} 
	</delete>

</mapper>